@media only screen and (min-width: 320px)  and (max-width: 600px){
    select{
        -webkit-appearance: none;
        width: 522px;
        margin-top: 21px;
        height: 83px;
        font-size: 40px;
        color: grey;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #4197FF;
        border-radius: 16px;
        background: none repeat scroll 0 0 #FFFFFF;
        font : "Trebuchet MS" ;
        line-height: 22px;
    }
}
@media only screen and (min-width: 601px)  and (max-width: 1000px){
    select{
        -webkit-appearance: none;
        width: 300px;
        float: right;
        height: 83px;
        font-size: 40px;
        color: grey;
        border: 1px solid #4197FF;
        border-radius: 16px;
        background: none repeat scroll 0 0 #FFFFFF;
        font : "Trebuchet MS" ;
        line-height: 30px;
    }
}
@media (min-width: 1101px){
    select{
        -webkit-appearance: none;
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #4197FF;
        border-radius: 16px;
        color: grey;
        font-size: 25px;
        height: 40px;
        margin-right: auto;
        width: 150px;
        float: right;
        margin-top: 2%;
        font : "Trebuchet MS" ;
        line-height: 22px;
    }
}