<div id="{{propertyname}}" class="box_proprietaiPhone">
    <link type="text/css" rel="stylesheet" href="apioProperties/List/list.css"/>
    <div id="{{propertyname}}flag" ng-show="currentObject.isRecording()  && !isRecorded()" ng-click="addPropertyToRecording()"  class="rec_flag"></div>
   <div id="{{propertyname}}label" class="testo_proprietaiPhone"  ng-click="removePropertyFromRecording()">{{label}}</div>
    <select ng-model="$parent.model" ng-if="!isArray" ng-options="key as value for (key, value) in arr"></select>
    <select ng-model="$parent.model" ng-if="isArray">
        <option value="{{$index}}" ng-if="isValid(a)" ng-repeat="a in arr track by $index" label="{{a}}" ng-selected="$index == $parent.model">{{a}}</option>
    </select>
</div>

 