<div id="{{propertyname}}" class="box_proprietaiPhone">
	<link type="text/css" rel="stylesheet" href="apioProperties/Trigger/trigger.css"/>
	<div id="{{propertyname}}flag" ng-show="currentObject.isRecording()  && !isRecorded()" ng-click="addPropertyToRecording($event)" class="rec_flag"></div>
    <div id="{{propertyname}}label" class="testo_proprietaiPhone"  ng-click="removePropertyFromRecording($event)">{{label}}</div>
    <div class="content_pulsanteiPhone">
		<div class='switch' ng-class="{'active': model === valueon}">
			<div class='switch-handle'></div>
		</div>
    </div>
</div>