<div ng-controller="ApioHomeController">
    <!-- Single application view -->
    <div class="" >
        <div id="ApioIconsContainer">
        
            <div class="icon_app" ng-repeat="obj in objects" ng-click="launchApplication(obj.objectId)">
                <div class="home" >
                    <div class="home">
                        <div style="
                            border: 1px solid #CCC;
                            border-radius: 32px;
                            height: 145px;
                            width: 145px;
                            background-size:100%;
                            background-position:50%;
                            background-image: url(applications/{{obj.objectId}}/icon.png);
                        "></div>
                    </div>
                </div>
                <div style=" margin-top: 8px; width: 100%; height:40px; ">
                    <div class="homeAppIconName" style="">{{obj.name}}</div>
                    <a name="4321"></a>             <div style="font-family: Trebuchet MS; font-size: x-small; text-align:center; float:right; margin-left:3px; margin-right:3px;"></div>
                    <div id="4321freccia" style=" background: none repeat scroll 0 0;
                        border-radius: 100px;
                        height: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 5px;
                        text-align: center;
                    width: 40px;"></div>
                </div>
                <span class="icona"></span>
            </div>
                        <div class="icon_app" ng-click="launchDashboard()">
                <div class="home" >
                    <div class="home">
                        <div style="
                            border: 1px solid #CCC;
                            border-radius: 32px;
                            height: 145px;
                            width: 145px;
                            background-size:100%;
                            background-position:50%;
                            background-image: url(applications/add/icon.png);
                        "></div>
                    </div>
                </div>
                <div style=" margin-top: 8px; width: 100%; height:40px; ">
                    <div class="homeAppIconName" style="">Apio SDK</div>
                    <a name="4321"></a>             <div style="font-family: Trebuchet MS; font-size: x-small; text-align:center; float:right; margin-left:3px; margin-right:3px;"></div>
                    <div id="4321freccia" style=" background: none repeat scroll 0 0;
                        border-radius: 100px;
                        height: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 5px;
                        text-align: center;
                    width: 40px;"></div>
                </div>
                <span class="icona"></span>
            </div>
        </div>

        <div id="ApioApplicationContainerOld" hm-swipe="" hm-drag="addDragging()" ></div>
    </div>
</div>