@media only screen and (min-width: 481px) and (max-width: 768px) {
    .dynvinput {
        float: right;
        font-family: sans-serif;
        font-weight: 100;
        color: #8e8e8e;
        font-size: 50px;
        line-height: 130%;
    }

    .dynvlabel {
        line-height: 120%;
    }
}

@media only screen and (min-width: 769px) {
    .dynvinput {
        float: right;
        font-family: sans-serif;
        font-weight: 100;
        color: #8e8e8e;
        font-size: 50px;
        line-height: 130%;

    }

    .dynvlabel {
        line-height: 230%;
        width: 80%;
    }
}