@media only screen and (min-width: 320px) and (max-width: 480px) {
    .numeroproprieta {}

    .numeroinput {
        margin: auto;
        float: right;
        width: 150px;
        height: 83px;
        text-align: center;
        font-size: 40px;
        border-radius: 16px;
        -webkit-appearance: none;
        font-family: sans-serif;
        font-weight: 100;
        border: 1px solid #4197FF;
        box-shadow: 0 0 3px -1px;
        color: rgba(3, 3, 3, 0.7);
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .numeroproprieta {}

    .numeroinput {
        margin: auto;
        float: right;
        width: 150px;
        height: 83px;
        text-align: center;
        font-size: 40px;
        border-radius: 16px;
        -webkit-appearance: none;
        font-family: sans-serif;
        font-weight: 100;
        border: 1px solid #4197FF;
        box-shadow: 0 0 3px -1px;
        color: rgba(3, 3, 3, 0.7);
    }
}
@media only screen and (min-width: 769px) {
    .numeroproprieta {}

    .numeroinput {
        border: 1px solid #4197FF;
        box-shadow: 0 0 3px -1px;
        color: rgba(3, 3, 3, 0.7);
        width: 100px;
        height: 50px;
        text-align: center;
        float: right;
        border-radius: 10px;
        font-size: 35px;
        line-height: 0;
    }
}